fieldset {
  border: none;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.image-page {
  text-align: center;
}
.image-page .title {
  margin-top: 2rem;
  font-size: 2rem;
}
.image-page .image-container {
  max-width: 960px;
  margin: auto;
  margin-top: 2rem;
}
.image-page .image-container img {
  max-width: inherit;
}
.component-wrapper {
  width: 50%;
  margin: auto;
}
.component-wrapper md-checkbox {
  margin-left: 0!important;
}
.component-wrapper md-input-container {
  width: 80%;
}
.component-wrapper .bottom-message {
  margin: auto;
  margin-top: .5rem;
  padding-bottom: .5rem;
}
.component-wrapper .checkbox-nsfw {
  margin-top: 1.5rem;
  width: 100%;
}
.component-wrapper .checkbox-agree {
  width: 100%;
  margin-bottom: 0;
}
.component-wrapper .choose-file-button {
  width: 88px;
  line-height: 18px;
  min-height: 30px!important;
  margin-left: 0;
  font-size: .7rem;
}
.component-wrapper .input-file-row button {
  margin-right: 1rem;
}
.component-wrapper .input-file-row .file-name {
  margin-top: 2px;
  font-size: .8rem;
}
.component-wrapper .uploadedBy {
  font-size: .8rem;
}
.component-wrapper .uploadedBy span {
  font-style: italic;
}
.component-wrapper #hiddenFileInput {
  display: none;
}
.component-wrapper #uploadButton {
  width: 88px;
  margin: 1rem auto;
  margin-top: 2rem;
}
.recent-pic-wrapper {
  margin-top: 50px;
}
.recent-pic-wrapper md-toolbar {
  max-width: 960px;
}
.recent-pic-wrapper md-toolbar h2 {
  margin: auto;
}
.recent-pic-wrapper md-content {
  width: 960px;
  padding: 0;
  text-align: center;
  margin-bottom: 2rem;
}
.recent-pic-wrapper .image {
  max-height: 400px;
  width: 200px;
  margin-top: 2rem;
}
.recent-pic-wrapper .image img {
  width: 100%;
}
.recent-pic-wrapper .image .image-info {
  text-align: right;
}
.recent-pic-wrapper .image .image-info .title {
  float: left;
  margin-left: .2rem;
}
.recent-pic-wrapper .image .image-info .views {
  margin-right: .2rem;
  font-size: .7rem;
}
.upload-wrapper {
  margin-top: 4rem;
  max-width: 960px;
}
.upload-wrapper md-toolbar {
  max-width: 960px;
}
.upload-wrapper md-content {
  width: 960px;
  padding: 0;
}
.upload-wrapper .toolbar-header h2 {
  margin: auto;
  font-size: 1.7rem;
}
.upload-wrapper .upload-heading {
  margin-top: 2rem;
}
.upload-wrapper .upload-heading h2 {
  margin: auto;
}
@media (max-width: 800px) {
  .component-wrapper {
    width: 75%;
  }
}
@media (max-width: 540px) {
  .component-wrapper {
    width: 100%;
  }
}
