
body {

}

fieldset {
    border: none;
}

.component-wrapper {
    width: 50%;
    margin-left: 25%;

    input {
        //margin-top: .25rem;
    }

    md-checkbox {
        margin-left: 0!important;
    }

    .checkbox-nsfw {
        margin-top: 1.5rem;
    }

    .choose-file-button {
        width: 88px;
        line-height: 18px;
        min-height: 30px!important;
        margin-left: 0;
        font-size: .7rem;
    }

    .error-message {
        margin: auto;
        color: red;
        padding-bottom: .5rem;
    }

    .input-file-row {

        button {
            margin-right: 1rem;
        }

        .file-name {
            margin-top: 2px;
            font-size: .8rem;
        }
    }

    #hiddenFileInput {
        display: none;
    }

    #uploadButton {
        width: 88px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .uploadedBy {
        font-size: .8rem;
        span {
            font-style: italic;
        }
    }
}

.recent-pic-wrapper {

    margin-top: 50px;

    md-toolbar {
        max-width: 960px;
        h2 {
            margin: auto;
        }
    }

    md-content {
        width: 960px;
        padding: 0;
        text-align: center;
        height: 300px;
    }

    .image {
        height: 150px;
        width: 120px;
        img {
            max-width: 200px;
            max-height: 250px;
        }
    }
}

.upload-wrapper {
    //text-align: center;
    //width: 100%;
    margin-top: 100px;
    max-width: 960px;
    md-toolbar {
        max-width: 960px;
    }
    md-content {
        width: 960px;
        padding: 0;
    }
    .upload-heading {
        margin: auto;
    }
}
