
html, body {
    height: 100%;
}

#container-all {
    position: relative;
    display: block;
    min-height: 100%;
}

fieldset {
    border: none;
}

.em {
    font-style: italic;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.widerImage {
    min-width: 500px!important;
}

.simple-navbar {
    border-bottom: 1px solid #DCDCDC;

    .homepage-link {
        text-decoration: none;

        .header {
            color: black;
            font-family: saxmono;
            color: grey;
            margin: 0;
            padding-top: .3rem;
            padding-bottom: .1rem;
            text-align: center;
        }

    }

    .bottom-text {
        width: 100%;
        text-align: center;
        margin: auto;
        font-family: saxmono;
        padding-bottom: .2rem;
    }
}

.image-page {

    text-align: center;

    .image-container {

        position: relative;
        margin: auto;
        margin-top: 1rem;

        .image-raw {

            display: inline-block;
            max-width: 960px;
            padding-bottom: 3rem;
            margin: auto;

            .image-header {
                text-align: left;

                .title {
                    font-size: 2rem;
                    margin-bottom: .1rem;
                    margin-left: -.1rem;
                    margin-top: 1.5rem;
                }

                .uploaded-on {
                    font-size: .8rem;
                    margin-top: .35rem;

                    .uploaded-date {
                        font-style: italic;
                    }
                }
            }

            img, video {
                margin-top: .5rem;
                max-width: 960px;
                min-width: 400px;
                border: 1px solid black;
            }

        }

        .image-info {

            text-align: left;
            margin-top: .75rem;
            display: inline;

            p {
                font-size: .8rem;
                margin: .4rem 0;
            }

            .top-info-line {
                text-align: left;

                .amazon-link {
                    float: right;
                    color: orange;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .username {
                font-style: italic;
            }
        }
    }
}

.component-wrapper {

    width: 50%;
    margin: auto;

    md-checkbox {
        margin-left: 0!important;
    }

    md-input-container {
        width: 80%;
    }

    .bottom-message {
        margin: auto;
        margin-top: .5rem;
        padding-bottom: .5rem;
    }

    .checkbox-nsfw {
        margin-top: 1.5rem;
        width: 100%;
    }

    .checkbox-agree {
        width: 100%;
        margin-bottom: 0;
    }

    .choose-file-button {
        width: 88px;
        line-height: 18px;
        min-height: 30px!important;
        margin-left: 0;
        font-size: .7rem;
    }

    .input-file-row {

        button {
            margin-right: 1rem;
        }

        .file-name {
            margin-top: 2px;
            font-size: .8rem;
        }
    }

    .uploadedBy {

        font-size: .8rem;

        span {
            font-style: italic;
        }
    }

    #hiddenFileInput {

        display: none;

    }

    #uploadButton {

        width: 88px;
        margin: 1rem auto;
        margin-top: 2rem;
    }
}

.recent-pic-wrapper {

    margin-top: 50px;
    padding-bottom: 2rem;

    md-toolbar {

        max-width: 960px;

        h2 {
            margin: auto;
        }
    }

    md-content {

        width: 960px;
        padding: 0;
        text-align: center;
        margin-bottom: 2rem;
    }

    .image {

        max-height: 400px;
        width: 200px;
        margin-top: 2rem;

        img, video {
            width: 100%;
        }

        .image-info {

            .title {
                text-align: left;
                margin-left: .2rem;
                width: 150px;
            }

            .views {
                text-align: right;
                margin-right: .2rem;
                font-size: .7rem;
            }
        }
    }
}

.upload-wrapper {

    margin-top: 1rem;
    max-width: 960px;

    md-toolbar {
        max-width: 960px;
    }

    md-content {
        width: 960px;
        padding: 0;
    }

    .toolbar-header {

        h2 {
            margin: auto;
            font-size: 1.7rem;
        }
    }

    .upload-heading {
        margin-top: 2rem;

        a {
            font-family: saxmono;
        }

        h2 {
            margin: auto;
        }
    }
}

#policy-column {
    padding: 2rem 1rem;
}

.footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: .8rem;

    a {
        text-decoration: none;
    }
}

//to do later, optimize for phones and tablets
@media (max-width: 800px) {
    .component-wrapper {
        width: 75%;
    }
}

@media (max-width: 540px) {
    .component-wrapper {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .image-container {

        max-width: 100%;
        width: 100%;

        img {
            margin-top: .5rem;
            max-width: 100%;
            width: 100%;
        }

        .title {
            //font-size: 4rem;
        }

        .uploaded-on {
            //font-size: 1.6rem;
        }

        .image-info {

            p {
                //font-size: 1.6rem;
            }
        }
    }
}

@font-face {
    font-family: saxmono;
    src: url(/styles/saxmono.ttf);
}
