
<div class="image-page" ng-controller="ImagePageController">

    <p class="title"> {{title}} </p>

    <div class="image-container">
        <img src="/image/{{id}}"/>
    </div>

    <p>
        Views (embeded): {{viewsEmbeded}}
    </p>

    <p>
        View (website): {{viewsWebsite}}
    </p>

</div>
