<!DOCTYPE html>
<html lang="en" ng-app="ImageHosting">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/styles/favicon.ico" />

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">

    <script type="text/javascript" src="/scripts/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-messages.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-aria.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-animate.min.js"></script>

    <script type="text/javascript" src="/scripts/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/scripts/ng-file-upload.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>

    <script type="text/javascript" src="/app/services/ImageService.js"></script>
    <script type="text/javascript" src="/app/controllers/HomeCtrl.js"></script>
    <script type="text/javascript" src="/app/directives/buttonAsInput.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68428821-3', 'auto');
      ga('send', 'pageview');

    </script>

    <title>gifmage</title>
</head>

<body ng-controller="HomeController">

    <div id="container-all">

    <div layout="column" layout-align="center center" class="upload-wrapper" ng-cloak>

        <md-toolbar class="md-whiteframe-1dp toolbar-header">
            <div class="md-toolbar-tools">
                <h2 class="md-flex upload-heading">
                    <a href="/">gifmage</a>
                </h2>
            </div>
        </md-toolbar>

        <md-toolbar class="md-accent md-whiteframe-1dp upload-heading">
            <div class="md-toolbar-tools">
                <h2 class="md-flex upload-heading">Upload Image</h2>
            </div>
        </md-toolbar>

        <md-content layout-align="center center" layout-padding class="md-whiteframe-8dp component-content">

            <div layout="column" class="component-wrapper">

                <form name="uploadForm">

                <fieldset>

                <p class="uploadedBy">Uploading as <span>anonymous</span></p>

                <md-input-container>
                    <label>Title (optional)</label>
                    <input name="title" ng-model="image.title">
                </md-input-container>

                <div class="input-file-row" layout="row" layout-align="start center" button-as-input>
                    <input type="file" id="hiddenFileInput" name="file" ngf-select ng-model="image.file" ng-change="updateImageInfo(image.file)" size="31" required>
                    <md-button  id="chooseFileButton" class="md-raised choose-file-button">Choose File</md-button>
                    <span class="file-name">{{fileName}}</span>
                </div>

                <md-checkbox class="md-primary checkbox-nsfw" name="nsfw" ng-model="image.nsfw" aria-label="Checkbox is nfsw?">
                    NSFW?
                </md-checkbox>

                <md-checkbox class="md-primary checkbox-agree" name="isPolicyAgreed" ng-model="image.agree" aria-label="Checkbox doesn't violate policy">
                    Agree that this doesn't violate our <a href="/app/views/policy.html">policy</a>
                </md-checkbox>

                <div layout="row" layout-align="center center">
                    <md-button id="uploadButton" class="md-raised md-primary" ng-click="uploadFile(image.file)">Upload</md-button>
                </div>

                <div layout="row" layout-align="center center">
                    <p ng-if="errorMessage && !successMessage" class="bottom-message red">{{errorMessage}}</p>
                    <p ng-if="successImageId && !errorMessage" class="bottom-message">
                        <span>Success! Image uploaded at <a ng-href="{{getMediaPage(successImageId)}}">{{successImageId}}</a> </span>
                    </p>
                </div>

                </fieldset>

                </form>

            </div>
        </md-content>

    </div>

    <div layout="column" layout-align="center center" class="recent-pic-wrapper" ng-cloak>

        <md-toolbar class="md-accent md-whiteframe-1dp">
            <div class="md-toolbar-tools">
                <h2 class="md-flex upload-heading">Recent Images</h2>
            </div>
        </md-toolbar>

        <md-content layout="row" layout-md="column" layout-align="space-around start" layout-padding class="md-whiteframe-8dp">

            <div class="image" ng-repeat="image in images">
                <a ng-href="{{getMediaPage(image.id)}}">
                    <img ng-if="!isVideo(image.id)" ng-src="/api/media/{{image.id}}" alt="{{image.title}}">
                    <video ng-if="isVideo(image.id)" autoplay loop>
                        <source ng-src="{{getMediaSrc(image.id)}}" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </a>
                <div class="image-info" layout="row">
                    <div flex="75" class="title">{{image.title}}</div>
                    <div flex="25" class="views">{{image.viewsEmbeded + image.viewsWebsite + 1}} views</div>
                </div>
            </div>

        </md-content>

    </div>

    <div class="footer">
        @2016 <a href="/">gifmage</a> • contact at djamrozik96@gmail.com
    </div>

    </div>

</body>

</html>
