<!DOCTYPE html>
<html lang="en" ng-app="ImageHosting">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="/styles/favicon.ico" />

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">

    <script type="text/javascript" src="/scripts/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-messages.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-aria.min.js"></script>
    <script type="text/javascript" src="/scripts/angular-animate.min.js"></script>

    <script type="text/javascript" src="/scripts/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/scripts/ng-file-upload.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc7/angular-material.min.js"></script>

    <script type="text/javascript" src="/app/services/ImageService.js"></script>
    <script type="text/javascript" src="/app/controllers/HomeCtrl.js"></script>
    <script type="text/javascript" src="/app/directives/buttonAsInput.js"></script>
    <script type="text/javascript" src="/app/app.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68428821-3', 'auto');
      ga('send', 'pageview');

    </script>

    <title>imgtoast - policy</title>
</head>

<!-- This page is simply text, so uses HomeController -->

<body ng-controller="HomeController">

    <div id="container-all">

    <div layout="column" layout-align="center center" class="upload-wrapper" ng-cloak>

        <md-toolbar class="md-whiteframe-1dp upload-heading">
            <div class="md-toolbar-tools">
                <h2 class="md-flex upload-heading">Upload Polcy</h2>
            </div>
        </md-toolbar>

        <md-content layout-align="center center" layout-padding class="md-whiteframe-8dp">

            <div layout="column" id="policy-column">

                This policy isn't meant to be full of legal vernacular thats
                almost impossible to understand, rather a straightforward
                explanation of what can and can not be uploaded on this site. This
                this project is something I made for fun, but am making available
                for use to the public. In return for use, you agree that the content which
                you upload is yours and will not violate any copyright notices. If it does
                and I am notified of it, I will take it down immediately. You also agree that
                the content you upload does not incriminate upon anyone affected by the content.
                This means that the image/content uploaded does not perform any slander.
                Also, the content should not pass a certain line of vulgarity. This line to be
                determined by me and I reserve the right to remove anything that I believe passes this line.
                This site is not responsible for any consequences which may be caused by content uploaded
                on this site. I probably won't remove much content uploaded from this site, however I reserve
                the right to remove anything for whatever reason.

            </div>

        </md-content>

    </div>


    <div class="footer">
        @2016 <a href="/">imgtoast</a> • contact at djamrozik96@gmail.com
    </div>

    </div>

</body>

</html>
